<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to Coding Mongoose</h1>
    <a href="/add">Add a new Mongoose!</a>
    <h3>New Mongeese</h3>
    <% for (var x in mongoose) { %>
    <div>
        <p>
            Name: <a href="/mongooses/<%= mongoose[x].id %>"><%= mongoose[x].name %></a> 
        </p>
        <p>
            
            Age: <%= mongoose[x].age %>
        </p>
        <p>
            Pack Name: <%= mongoose[x].pack %>
        </p>
    </div>
    <hr>
    <% } %>
</body>

</html>